<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685882946538-8vh5sob50k6dunja9jb03uglg1j7lv9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685882946538-8vh5sob50k6dunja9jb03uglg1j7lv9p</string>
	<key>API_KEY</key>
	<string>AIzaSyBalkwOIPKL-tM1gzuefXxE-F2iSQH8jYc</string>
	<key>GCM_SENDER_ID</key>
	<string>685882946538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vladislav-Sharaev.CourseWork-PizazaApp-v2-0</string>
	<key>PROJECT_ID</key>
	<string>coursework-pizazaapp-v20</string>
	<key>STORAGE_BUCKET</key>
	<string>coursework-pizazaapp-v20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685882946538:ios:90c5114366010a12f37893</string>
	<key>DATABASE_URL</key>
	<string>https://coursework-pizazaapp-v20.firebaseio.com</string>
</dict>
</plist>